body{
	display: grid;
	grid-template-columns: 100% ;
	grid-template-rows: 20% 80%;
	margin:0;
}




/*CSS FOR HEADER*/
header{
	
	background-color: blue;
	color:white;
	text-align:center;
	margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 40px;
    padding-top: 20px;
	
}
header div{
	display: inline-block;
	border: solid 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 30px;
    padding-right: 30px;
}
/*END HEADER*/

/*ALLBOX SECTION*/

#allBox{	
	margin-top:10px;
    display: grid;
    grid-template-columns: 15% 15% 45% 25%;
}
/*END OF ALLBOX*/


/*CSS FOR SIDEBAR*/

#sidebar{
	
	float:left;
	background-color:darkgrey;
	padding-left:3px;
	padding-top:5px;
	margin-right:10px;
	
}

img{
	border-radius: 50%;
	height: 160px;
    width: 160px;
	
}
.imgBox{
	text-align:center;
}
.line{
	background-color:black;
	height:3px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:3px;
	margin-right:3px;
}
.contactInfo p{
	margin:0;
	
}
/*END SIDEBAR*/


/*CSS INFO*/
#info{
	display:grid;
	float:right;
	grid-template-areas: "BIO" 
						 "WRK"
						 "EDU"
						 "SKL";
    margin-left:10px;
}

.bio{
	grid-area: BIO;
	
    border-bottom: solid 2px;
    border-bottom-color: darkgrey;
}
.edu{
	grid-area: EDU;
	
    border-bottom: solid 2px;
    border-bottom-color: darkgrey;
}
.wrk{
	grid-area: WRK;
	
    border-bottom: solid 2px;
    border-bottom-color: darkgrey;
}
.skl{
	grid-area: SKL;
}


/*work experience*/
.sec2 {
    display: flex;
    justify-content:space-between;
}
.expyr{
	float: left;
}
.exwrk{
	float: right;
}
/*end work experience*/

/*education*/
.sec1 {
    display: flex;
    justify-content:space-between;
}

.eduyr{
	
	float: left;
}
.dgree{
	
	float:right;

}



/*end education*/

/*skill*/
 .p1{
	float:left;
}
	
.p2{
	float:right;
}
/*end skill*/

/**/
/**/


/*END INFO*/